@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.btn {
  @apply px-3 py-1 rounded bg-orange-500 text-white text-sm;
}
.btn-outline {
  @apply px-3 py-1 rounded border border-gray-300 text-sm;
}

.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus,
.recharts-surface:focus-visible,
.recharts-wrapper svg:focus,
.recharts-wrapper svg:focus-visible,
.recharts-wrapper *:focus,
.recharts-wrapper *:focus-visible {
  outline: none !important;
}
