@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.btn {
  @apply px-3 py-1 rounded bg-orange-500 text-white text-sm;
}
.btn-outline {
  @apply px-3 py-1 rounded border border-gray-300 text-sm;
}
